<html>

<head>
<title>Outreach Materials</title>
</head>

<body>

<p>This is where our outreach materials can be stored. Currently it is simply the template from the Rhtml file:</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
