    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-11 col-lg-offset-0">
              <br/><br/>
              <br/><p style="font-size:20px" align="left">
                <i>Wallace</i> is a modular, R-based platform for reproducible modeling of species niches and distributions.
                The application guides users through a complete analysis, from the acquisition of data to visualizing model
                predictions on an interactive map, thus bundling complex workflows into a single, streamlined interface.</p>
                  <p style="font-size:20px" align="left">
                Please read our new paper in Methods in Ecology and Evolution for more details.</p>
                  <p style="font-size:18px" align="left">
                Kass JM, Vilela B, Aiello‐Lammens ME, Muscarella R, Merow C, Anderson RP. (2018). <i>Wallace</i>: A flexible platform for
                reproducible modeling of species niches and distributions built for community expansion. <i>Methods in Ecology and Evolution</i>.
                9:1151–1156. <a href="https://doi.org/10.1111/2041-210X.12945" target="_blank">https://doi.org/10.1111/2041-210X.12945</a>
                  <p style="font-size:20px" align="left">
                For a tutorial, please see our new <a href="vignettes/wallace_vignette.html" target="_blank">vignette</a> for version 1.0.5. This vignette has lots of images, which makes the file size too big for CRAN, so we are hosting it here instead.    
                  <p style="font-size:20px" align="left">
                <i>Wallace</i> is <b>open</b>: the code is free to use and modify (GPL 3.0), and it gives users access to
                some of the largest public online biodiversity databases. The application is <b>expandible</b>, as users
                can author and contribute modules that enable new methodogical options. There are <b>flexible</b> options
                for user uploads and downloads of results. The session is <b>interactive</b>, with an embedded
                zoomable map, sortable tables, and assorted visualizations of results. <i>Wallace</i> is instructive,
                with guidance text throughout that educates users about theoretical and analytical aspects of each
                step in the workflow. Lastly, it is <b>reproducible</b>, as users can download an R Markdown file
                that reruns the analysis.</p>
                  <p style="font-size:20px" align="left">
                <i>Wallace</i> is written using the web app development R package <span style="font-family:'Courier New">shiny</span>.
                Development requests or contributions should be directed to either the Github repo or the Google Group forum
                (links above).</p>
                <p style="font-size:20px" align="left">
                  A brief <a href="https://cmerow.github.io/RDataScience/3_4_wallace.html" target="_blank">vignette</a> outlining how to construct and add modules was presented at the 8th Biennial Conference of the
                  International Biogeography Society in January 2017, during a workshop entitled "Integrating and cleaning biodiversity
                  data: Workflows to model ranges and merge associated ecological, phylogenetic, and trait information" led by Dr. Cory Merow.</p>
                <br/>
		<h1>Resources</h1>
		<br/>
                </div>
              </div>
            </section>
