<section id="applications" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-11 col-lg-offset-0">
      <br/>
      <h2>Applications</h2>
      
      <p style="font-size:20px" align="left">
        <b>How do people use <i>Wallace</i>?</b>
        <br/>
        <br/>  
        Wallace has been used in high-profile studies to inform <b>biodiversity conservation</b>:
      </p>
      
      <ul style="font-size:18px; text-align:left; list-style-type: disc; margin-left: 25px;">
        <li style="margin-bottom: 10px;">
          Used in global studies for predicting zoonotic disease risk, invasive species, and agricultural pest management, such as khapra beetles, rice stink bugs, and <a href="https://doi.org/10.1111/aab.70088" target="_blank">greater banded hornets</a>.
        </li>
        <li style="margin-bottom: 10px;">
          A key tool for the <a href="https://biomodelos.humboldt.org.co/en" target="_blank">BioModelos</a> project in Colombia to build a national atlas of biodiversity and guide monitoring in protected areas.
        </li>
        <li style="margin-bottom: 10px;">
          Used by the National Audubon Society to guide priorities for their <a href="https://www.audubon.org/about/welcome-flight-plan" target="_blank">Flight Plan</a> (Strategic Plan for Conservation Action 2023-2028).
        </li>
        <li style="margin-bottom: 10px;">
          Listed as a Global Earth Observations Biodiversity Observation Network <a href="https://boninabox.geobon.org/tool-detail?id=231" target="_blank">BON in a Box Tool</a> and a tool for <a href="https://open-research-europe.ec.europa.eu/articles/5-272" target="_blank">mapping marine animal forests</a>.
        </li>
        <li style="margin-bottom: 10px;">
          Applied in specific species studies including the Curaçaoan Long-nosed Bat, <a href="https://lajamjournal.org/index.php/lajam/article/view/1667" target="_blank">rewilding Colombian giant otters</a>, and <a href="https://doi.org/10.1371/journal.pone.0321817" target="_blank">forest birds</a>.
        </li>
      </ul>

      <p style="font-size:20px" align="left">
        The nimble and modular architecture of Wallace has also been used as a template to develop and inspire new <b>open source software</b>:
      </p>
      
      <ul style="font-size:18px; text-align:left; list-style-type: disc; margin-left: 25px;">
        <li style="margin-bottom: 10px;">
          <i>ShinyScholar:</i> A collaboration to create a generalized template for building complex, modular, and reproducible R-based applications (<a href="https://simon-smart88.github.io/shinyscholar/" target="_blank">ShinyScholar</a>).
        </li>
        <li style="margin-bottom: 10px;">
          <i>Vegetation Analysis:</i> A template for tools analyzing <a href="https://joss.theoj.org/papers/10.21105/joss.06682" target="_blank">vegetation survey data</a>.
        </li>
        <li style="margin-bottom: 10px;">
          <i>National Monitoring:</i> Used by researchers at the Indian Space Research Organization to build a web-based tool for <a href="https://onlinelibrary.wiley.com/doi/10.1002/ece3.70364" target="_blank">national biodiversity monitoring</a>.
        </li>
      </ul>

      <p style="font-size:20px" align="left">
        Wallace is also used for <b>teaching and training</b>:
      </p>
      
      <ul style="font-size:18px; text-align:left; list-style-type: disc; margin-left: 25px;">
        <li style="margin-bottom: 10px;">
          Used to teach machine learning and AI concepts to <a href="https://doi.org/10.1186/s40594-025-00543-5" target="_blank">secondary school students</a>.
        </li>
        <li style="margin-bottom: 10px;">
          Integrated into the American Museum of Natural History's <a href="https://doi.org/10.1080/00368555.2025.2582038" target="_blank">Science Research Mentoring Program</a>.
        </li>
      </ul>

      <p style="font-size:18px" align="left">
        <i>See more about how to use Wallace as a teaching resource in the <a href="#resources">Resources section</a>.</i>
      </p>
    </div>
  </div>
</section>