<!-- Devteam Section -->
<section id="devteam" class="container content-section text-center">
  <div class="row">
    <div id="devteam">
      <h2>Current Development Team</h2>

        <div class="col-md-4 col-sm-6 member">
          <img src="img/jamie.jpg" class="img-responsive img-thumbnail" alt="Responsive image" />
          <div class="name">
            <br />
            <a href="https://jamiemkass.github.io/" target="_blank">Jamie M. Kass</a> (co-lead developer) received his PhD at CUNY Graduate Center and City College of New York and is currently a Postdoctoral Scholar at Okinawa Institute of Science and Technology Graduate University.
          </div>
        </div>
       
      <div class="col-md-4 col-sm-6 member">
        <img src="img/gonzalo.png" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">
          <br />
          <a href="https://scholar.google.no/citations?user=xlxAr_EAAAAJ&hl=en" target="_blank">Gonzalo E. Pinilla Buitrago</a> (co-lead developer) received his PhD from the CUNY Graduate Center and City College of New York. He is currently a Postdoctoral Researcher at University of Connecticut.
        </div>
      </div>
        
      <div class="col-md-4 col-sm-6 member">
        <img src="img/andrea.jpg" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">
          <br />
          <a href="https://andrepazv.github.io/" target="_blank">Andrea Paz</a> (developer) received her PhD at CUNY Graduate Center and City College of New York, did her postdoctoral research at the Crowther Lab in ETH Zürich, and is now Assistant Professor at Université de Montréal.
        </div>
      </div>
       
      <div class="col-md-4 col-sm-6 member">
        <img src="img/bethany.jpeg" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">
          <br />
          <a href="https://github.com/bjohnso005" target="_blank">Bethany A. Johnson</a> (co-developer) received her Master's in Biology from City College of New York and is currently a Visiting Scientist at the Center for Biodiversity & Conservation at the American Museum of Natural History.
        </div>
      </div>

      <div class="col-md-4 col-sm-6 member">
        <img src="img/beth.png" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">
          <br />
          <a href="https://bethgerstner.weebly.com/research.html" target="_blank">Beth E. Gerstner</a> (developer) received a dual PhD (Fisheries & Wildlife and EEB) from Michigan State University, is a NASA FINESST Award winner, and a Wallace fellow. She currently works for Map of Life at the Center for Biodiversity and Global Change at Yale University.
      </div>

      <div class="col-md-4 col-sm-6 member">
          <br />
          <a href="https://www.amnh.org/research/staff-directory/daniel-lopez-lozano" target="_blank">Daniel Lopez Lozano</a> (developer) is the Biodiversity Informatics Specialist at the Center for Biodiversity & Conservation at the American Museum of Natural History.
      </div>
      
      <div class="col-md-4 col-sm-6 member">
        <img src="img/valentina2.jpeg" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">
          <br />
          <a href="https://www.researchgate.net/profile/Valentina-Grisales-Betancur" target="_blank">Valentina Grisales-Betancur</a> (developer) completed her undergraduate degree at EAFIT University in Colombia and visited the Anderson lab at CCNY and Blair lab at AMNH.
        </div>
      </div>
      
      <div class="col-md-4 col-sm-6 member">
        <img src="img/dean.png" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">
          <br />
          <a href="https://deanattali.com/" target="_blank">Dean Attali</a> (developer, consultant) is an R-Shiny developer and consultant with a MSc in Bioinformatics from the University of British Columbia.
        </div>
      </div>
      
    </div>
  </div>
</section>

<section id="devteam" class="container content-section text-center">
  <div class="row">
    <div id="mgrs">
      <h2>Managers</h2>
      
      <div class="col-md-4 col-sm-6 member">
        <img src="img/rob.jpeg" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">
          <br />
          <a href="http://www.andersonlab.ccny.cuny.edu/" target="_blank">Robert P. Anderson</a> (lead manager, developer) is a Professor of Biology at City College of New York, CUNY.
        </div>
      </div>
      
       <div class="col-md-4 col-sm-6 member">
         <img src="img/matt.png" class="img-responsive img-thumbnail" alt="Responsive image" />
         <div class="name">
           <br />
           <a href="https://www.pace.edu/profile/matthew-aiello-lammens?dyson" target="_blank">Matthew E. Aiello-Lammens</a> (co-manager, developer) is an Associate Professor of Biology at Pace University.
         </div>
      </div>
      
      <div class="col-md-4 col-sm-6 member">
        <img src="img/cory.png" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">
          <br />
          <a href="https://www.researchgate.net/profile/Cory_Merow2" target="_blank">Cory Merow</a> (co-manager, developer) is currently a faculty researcher at the University of Connecticut.
        </div>
      </div>
      
      <div class="col-md-4 col-sm-6 member">
        <img src="img/mary.png" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">
          <br />
          <a href="https://www.amnh.org/research/staff-directory/mary-e-blair" target="_blank">Mary E. Blair</a> (co-manager) is the Director of Biodiversity Informatics Research at the Center for Biodiversity and Conservation at the American Museum of Natural History.
        </div>
      </div>
      
    </div>
  </div>
</section>
      

<section id="devteam" class="container content-section text-center">
  <div class="row">
    <div id="contrib">
      <h2>Contributors</h2>
      
      <div class="col-md-4 col-sm-6 member">
        <img src="img/sarah.png" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">
          <br />
          Sarah Meenan (contributor) completed her undergraduate degree from the City College of New York and now works for the NYC Parks Department.
        </div>
      </div>
      
      <div class="col-md-4 col-sm-6 member">
        <img src="img/olivier.jpeg" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">
          <br />
          <a href="https://www.unil.ch/ecospat/en/home/menuinst/teamstudentsvisitors/team/in-lausanne/olivier-broennimann-first-as.html" target="_blank">Olivier Broennimann</a> (contributor, external partner) is a staff scientist in the Department of Ecology and Evolution at University of Lausanne.
        </div>
      </div>
      
      <div class="col-md-4 col-sm-6 member">
        <img src="img/peteG.jpg" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">
          <br />
          <a href="https://www.amnh.org/research/staff-directory/peter-galante" target="_blank">Peter J. Galante</a> (contributor) was a Biodiversity Informatics Scientist at the Center for Biodiversity and Conservation at the American Museum of Natural History and now works as a Project Manager for Storke, LLC, a renewable energy company.
        </div>
      </div>
      
      <div class="col-md-4 col-sm-6 member">
        <img src="img/brianM.jpeg" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">
          <br />
          <a href="https://www.researchgate.net/profile/Brian-Maitner" target="_blank">Brian S. Maitner</a> (contributor, external partner) is a researcher at the Geography Department of the University at Buffalo, SUNY.
        </div>
      </div>
      
      <div class="col-md-4 col-sm-6 member">
        <img src="img/hannahO.png" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">
          <br />
          <a href="https://hannahlowens.weebly.com/" target="_blank">Hannah Owens</a> (contributor, external partner) is a Marie Skłodowska Curie Fellow at the Center for Macroecology, Evolution, and Climate at the University of Copenhagen.
        </div>
      </div> 
      
      <div class="col-md-4 col-sm-6 member">
        <img src="img/saraV.jpeg" class="img-responsive img-thumbnail" alt="Responsive image" />
        <div class="name">
          <br />
          <a href="https://paleobiogeography.org/" target="_blank">Sara Varela</a> (contributor, external partner) is a Principal Investigator at the MAPAS Lab at the University of Vigo in Spain.
        </div>
      </div>
      
    </div>
  </div>
</section>

<section id="devteam" class="container content-section text-center">
  <div class="row">
    <div id="pastdevteam">
      <h2>Past Developers</h2>

        <div class="col-md-4 col-sm-6 member">
          <img src="img/bruno.png" class="img-responsive img-thumbnail" alt="Responsive image" />
          <div class="name">
            <br />
            <a href="https://www.researchgate.net/profile/Bruno_Vilela3" target="_blank">Bruno Vilela</a> (co-developer) is a Professor of Spatial Ecology at the Federal University of Bahia (Salvador - Brazil).</div>
        </div>
        <div class="col-md-4 col-sm-6 member">
          <img src="img/bob.png" class="img-responsive img-thumbnail" alt="Responsive image" />
          <div class="name">
            <br />
            <a href="https://bobmuscarella.weebly.com/" target="_blank">Robert Muscarella</a> (past co-developer) is Associate Professor in the Department of Ecology and Genetics at Uppsala University, Sweden.</div>
        </div>
    </div>
  </div>

</section>
