<!-- Acknowledgments Section -->
<section id="devteam" class="container content-section text-center">
  <div class="row">
    <div id="devteam">
      <h2>Dev Team</h4>

        <div class="col-md-4 col-sm-6 member">
          <img src="img/jamie.jpg" class="img-responsive img-thumbnail" alt="Responsive image" />
          <div class="name">
            <a href="https://www.researchgate.net/profile/Jamie_Kass" target="_blank">Jamie M. Kass</a>
            <br />Lead developer. is a PhD candidate at CUNY Graduate Center and City College of New York.</div>
        </div>
        <div class="col-md-4 col-sm-6 member">
          <img src="img/bruno.png" class="img-responsive img-thumbnail" alt="Responsive image" />
          <div class="name">Bruno Vilela
            <br />
            <a href="https://www.researchgate.net/profile/Bruno_Vilela3" target="_blank">Bruno Vilela</a> (co-developer) is a post-doctoral researcher at Washington University in St. Louis.</div>
        </div>
        <div class="col-md-4 col-sm-6 member">
          <img src="img/matt.png" class="img-responsive img-thumbnail" alt="Responsive image" />
          <div class="name">Matthew E. Aiello-Lammens
            <br />
            <a href="https://www.researchgate.net/profile/Matthew_Aiello-Lammens" target="_blank">Matthew Aiello-Lammens</a> (co-developer) is Assistant Professor of Environmental Studies and Science at Pace
            University.</div>
        </div>
        <div class="col-md-4 col-sm-6 member">
          <img src="img/bob.png" class="img-responsive img-thumbnail" alt="Responsive image" />
          <div class="name">Robert Muscarella
            <br />
            <a href="https://www.researchgate.net/profile/Robert_Muscarella" target="_blank">Robert Muscarella</a> (co-developer) is a National Science Foundation post-doctoral fellow at Aarhus University
            in Denmark.</div>
        </div>
        <div class="col-md-4 col-sm-6 member">
          <img src="img/cory.png" class="img-responsive img-thumbnail" alt="Responsive image" />
          <div class="name">Cory Merow
            <br />
            <a href="https://www.researchgate.net/profile/Cory_Merow2" target="_blank">Cory Merow</a> (co-developer) is a Research Scientist at Yale University (photo not shown).</div>
        </div>
        <div class="col-md-4 col-sm-6 member">
          <img src="img/gonzalo.png" class="img-responsive img-thumbnail" alt="Responsive image" />
          <div class="name">Gonzalo E. Pinilla Buitrago
            <br />
            <a href="https://www.researchgate.net/profile/Gonzalo_Pinilla-Buitrago" target="_blank">Gonzalo E. Pinilla Buitrago</a> (co-developer) is Professor of Biology at City College of New York, CUNY.</div>
        </div>
        <div class="col-md-4 col-sm-6 member">
          <img src="img/rob.png" class="img-responsive img-thumbnail" alt="Responsive image" />
          <div class="name">Robert P. Anderson
            <br />
            <a href="http://www.andersonlab.ccny.cuny.edu/" target="_blank">Robert P. Anderson</a> (co-developer) is a PhD candidate at CUNY Graduate Center and City College of New York.</div>
        </div>
    </div>
  </div>

</section>