<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#home">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <a class="page-scroll" href="#about">About</a>
              </li>
              <li>
                  <a class="page-scroll" href="#resources">Resources</a>
              </li>
             <li>
                  <a class="page-scroll" href="#devteam">Dev Team</a>
              </li>
              <li>
                  <a class="page-scroll" href="#acknowledgments">Acknowledgments</a>
              </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1><img src="img/logo.png" alt="Logo" width="50" height="60">{{ page.title }}</h1>
						<h3>{{ page.subTitle }}</h3>
						<hr class="intro-divider">
						<ul class="list-inline intro-social-buttons">
						<li>
              <a href="https://cran.r-project.org/web/packages/wallace/index.html" class="btn btn-default btn-lg"><i class="fa fa-code fa-fw"></i> <span class="network-name">CRAN</span></a>
              <a href="https://github.com/wallaceEcoMod/wallace" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
              <a href="mailto:wallaceEcoMod@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
              <a href="https://groups.google.com/forum/#!forum/wallaceecomod" class="btn btn-default btn-lg"><i class="fa fa-group fa-fw"></i> <span class="network-name">Forum</span></a>
              <a href="https://wallaceecomod.github.io/wallace/articles/tutorial-v2.html" class="btn btn-default btn-lg"><i class="fa fa-book fa-fw"></i> <span class="network-name">Vignette</span></a>
						</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
