<!-- Resources Section -->
<section id="resources" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-11 col-lg-offset-0">
      <br/>
      <h2>Resources</h2>

      <h3>Publications</h3>
      <p style="font-size:20px" align="left">
	Have a look at our paper in Methods in Ecology and Evolution for more details. <b>If you use <i>Wallace</i> in your research, please cite this paper.</b></p>
      <p style="font-size:18px" align="left">
	Kass JM, Vilela B, Aiello‐Lammens ME, Muscarella R, Merow C, Anderson RP. (2018). <i>Wallace</i>: A flexible platform for
	reproducible modeling of species niches and distributions built for community expansion. <i>Methods in Ecology and Evolution</i>.
	9:1151–1156. <a href="https://doi.org/10.1111/2041-210X.12945" target="_blank">https://doi.org/10.1111/2041-210X.12945</a>

      <h3>Tutorials and Vignettes</h3>
      <p style="font-size:20px" align="left">
	For a tutorial, please see our updated <a href="https://wallaceecomod.github.io/wallace/articles/tutorial-v2.html" target="_blank">vignette</a> for version 2.0.0.
	This vignette has lots of images, which makes the file size too big for CRAN, so we are hosting it here instead. 
	<br>You can also find the previous vignette (written for Wallace v1.0.5) <a href="https://wallaceecomod.github.io/wallace/articles/tutorial-v1.html">here</a>.
      <p style="font-size:20px" align="left">
	A brief <a href="https://cmerow.github.io/RDataScience/3_4_wallace.html" target="_blank">vignette</a> outlining how to construct
	and add modules was presented at the 8th Biennial Conference of the International Biogeography Society in January 2017,
	during a workshop entitled "Integrating and cleaning biodiversity data: Workflows to model ranges and merge
	associated ecological, phylogenetic, and trait information" led by Dr. Cory Merow.</p>

      <h3>Docker Image and Tools for Cloud Implementations</h3>
      <p style="font-size:20px" align="left">
	<i>Wallace</i> is available as a Docker image on <a href="https://hub.docker.com/repository/docker/mlammens/wallace_v1" target="_blank">Docker Hub</a> (currently ver 1.1). Anyone who has Docker installed on their system can use this image to run <i>Wallace</i> without the need to interface with R. Follow these steps:
	<ol type = "1" align="left">
         <li>Check that Docker is running on your system</li>
         <li>At a command line, run the following command: 'docker pull mlammens/wallace_v1:PE.1.1'</li>
         <li>Next, run the following command: 'docker run -d -p 8080:8080 mlammens/wallace_v1:PE.1.1'</li>
         <li>Open a browser and navigate to 'localhost:8080'</li>
      </ol>
</p>      
      <p style="font-size:20px" align="left">
	<i>Wallace</i> can also run in the <a href="https://cyverse.org/node/50" target="_blank">CyVerse Visual Interactive Computing Environment (VICE)</a>. We have developed a VICE App that is currently available by contacting Matt Aiello-Lammens at maiellolammens@pace.edu, and will be publically availabe soon. </p>

      <h3>Slide Presentations</h3>
      <p style="font-size:20px" align="left">
	A generic presentation slide deck for Wallace is available as a <a href="presentations/Wallace_v1_CC_BY_SY_10Dec2018.pdf" target="_blank">PDF</a>
	or a editable <a href="presentations/Wallace_v1_CC_BY_SY_10Dec2018.pptx" target="_blank">Power Point</a> file.
	We are providing these files under the <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" target="_blank">Creative Commons - Attribution - Share Alike 4.0</a>
	license.</p>
	
      <h3>Webinars</h3>
      <p style="font-size:20px" align="left">
	Members of our team have delivered webinars about <i>Wallace</i> in English and Spanish. Citations and links are below.</p>
      <p style="font-size:20px" align="left">
	<b>Spanish:</b> The following webinar was part of the "Modelado de Distribuciones Potenciales" series, organized by Angela Cuervo:</p>
      <p style="font-size:20px" align="left">
	Anderson, R. P. 21 May 2018. "El software Wallace para modelar nichos y distribuciones: Un coche con motor R,
	volante de ratón y cerebro de humano." Broadcast from the City College of New York, City University of New York. Watch on
	<a href="https://youtu.be/0652g9PDKp4" target="_blank">YouTube</a>.</p>
      <p style="font-size:20px" align="left">
	<b>English:</b> The following webinar was the "37th Global Online Biodiversity Informatics Seminar" in the
	<a href="http://biodiversity-informatics-training.org/" target="_blank">Biodiversity Informatics Training Curriculum</a>
	organized by Town Peterson:</p>
      <p style="font-size:20px" align="left">
	Kass, J. M. 9 May 2018. "WALLACE: A flexible platform for reproducible modeling of species niches and distributions built
	for community expansion." Broadcast from the City College of New York, City University of New York. Watch on
	<a href="https://youtu.be/00CSd9vx2CE" target="_blank">YouTube</a>.</p>
      
      <h3>Education and Outreach</h3>
      <p style="font-size:20px" align="left">
        We encourage the use of <i>Wallace</i> for teaching species distribution modeling techniques or biogeography principles more generally. In fact, we have used <i>Wallace</i> for this very purpose at workshops delivered to multiple audiences. <a href="https://mlammens.github.io/SCCS-R-Wallace/" target="_blank">Here</a> is an example of a course delivered at the <a href="https://www.amnh.org/research/center-for-biodiversity-conservation/convening-and-connecting/sccs-ny" target="_blank">Student Conference on Conservation Science - NY</a>.</p>
      <p style="font-size:20px" align="left">
        If you use <i>Wallace</i> in your teaching, we would like to hear about your experiences. Please take a moment to complete the short survey - <a href="https://docs.google.com/forms/d/e/1FAIpQLSdR4qVprBBpyEZwF4sAurjKuXrxggEA7jWnINenltnUY3nWnA/viewform?usp=sf_link" target="_blank"><i>Wallace</i> external workshop and curriculum survey</a>.</p>

      
      <br/>
 
      <br/>
    </div>
  </div>
</section>
